<template>
  <v-container class="ball-view-container">
    <h1 class="mb-3">Ball View</h1>
    <v-expansion-panels class="mb-3" inset>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Parse Settings
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field
            label="Proc value"
            outlined
            hint="The value of 'proc' to match"
            v-model="procValue"
          />
          <v-text-field
            label="Sensor values key"
            outlined
            hint="The JSON key for sensor values"
            v-model="sensorValsKey"
          />
          <v-text-field
            label="Orbit vector key"
            outlined
            hint="The JSON key for the orbit vector"
            v-model="orbitVecKey"
          />
          <v-text-field
            label="Dampened vector key"
            outlined
            hint="The JSON key for the dampened vector"
            v-model="dampenedVecKey"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Display Settings
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-slider
            label="Radius"
            hide-details
            thumb-label
            v-model="radius"
            :min="30"
            :max="250"
          />
          <v-slider
            label="Offset"
            hide-details
            thumb-label
            v-model="offset"
            :min="0"
            :max="360"
            class="align-center"
          >
            <template v-slot:append>
              <v-text-field
                v-model="offset"
                type="number"
                class="mt-0 pt-0"
                hide-details
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-slider>
          <v-slider
            label="Max value"
            hide-details
            thumb-label
            v-model="maxValue"
            :min="0"
            :max="800"
            class="align-center"
          >
            <template v-slot:append>
              <v-text-field
                v-model="maxValue"
                type="number"
                class="mt-0 pt-0"
                hide-details
                single-line
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-slider>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <div class="mb-3">
      <v-btn @click="controlButtonClicked">{{ controlButtonText }}</v-btn>
    </div>
    <div class="line-view">
      <canvas
        width="500px"
        height="500px"
        ref="canvas"
        class="line-view-canvas"
      />
    </div>
  </v-container>
</template>

<style scoped>
.ball-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.line-view {
  height: 100%;
  width: 100%;
  flex: 1 0 0;
}
</style>

<script lang="ts">
import Vue from 'vue'
import _, { DebouncedFunc } from 'lodash'
import { IVec, PogCanvas } from '@/canvasUtil'

export default Vue.extend({
  data() {
    return {
      canvas: null as PogCanvas | null,
      ctx: null as CanvasRenderingContext2D | null,
			cameraAngle: 0,
			compassAngle: 0,
			lastSendTime: 0,
      started: false,
			offset: 270,
			radius: 100,
      procValue: 'camera',
			cameraAngleKey: 'camera_angle',
			compassAngleKey: 'compass_angle',
			lastSendTimeKey: 'last_send_time',
    }
  },
  methods: {
    controlButtonClicked() {
      if (this.started) {
        this.$accessor.reader?.removeAllListeners('data')
        this.started = false
      } else {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        this.ctx = canvas.getContext('2d')
        if (this.ctx) this.canvas = new PogCanvas(this.ctx)
        this.$accessor.reader?.on('data', this.onData)
        console.log(this.canvas)
        this.canvas?.vector(100, 100, {
          color: '#FFFFFF',
        })
        this.started = true
      }
    },
    onData(data: string) {
      try {
        const parsed = JSON.parse(data)
        if (parsed['proc'] === this.procValue) {
          this.cameraAngle = parsed[this.cameraAngleKey]
          this.compassAngle = parsed[this.compassAngleKey]
          this.lastSendTime = parsed[this.lastSendTimeKey]
          this.debouncedRedraw()
        }
      } catch (e) {
        console.error(e)
      }
    },
    redraw() {
      if (this.canvas && this.ctx) {
        const centerX = this.ctx.canvas.width / 2
        const centerY = this.ctx.canvas.height / 2
        this.ctx.clearRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height)
        this.ctx.resetTransform()
        this.ctx.translate(centerX, centerY)
        this.ctx.rotate((this.offset * Math.PI) / 180)
        this.ctx.translate(-centerX, -centerY)
        this.canvas.circle(centerX, centerY, this.radius, {
          color: '#adadad',
          thickness: 4,
        })
      }
    },
  },
  computed: {
    controlButtonText(): string {
      return this.started ? 'Stop' : 'Start'
    },
    debouncedRedraw(): DebouncedFunc<() => void> {
      return _.debounce(this.redraw, 20, { maxWait: 0 })
    },
  },
})
</script>
