<template>
  <v-container class="line-view-container">
    <h1 class="mb-3">Line View</h1>
    <v-expansion-panels class="mb-3" inset>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Parse Settings
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field
            label="Proc value"
            outlined
            hint="The value of 'proc' to match"
            v-model="procValue"
          />
          <v-text-field
            label="Sensor values key"
            outlined
            hint="The JSON key for sensor values"
            v-model="sensorValsKey"
          />
          <v-text-field
            label="triggered vals key"
            outlined
            hint="The JSON key for triggered sensor values"
            v-model="triggeredValsKey"
          />
          <v-text-field
            label="Koig vec key"
            outlined
            hint="The JSON key for koig vec"
            v-model="koigVecKey"
          />
          <v-text-field
            label="Pointing out key"
            outlined
            hint="The JSON key for pointing out value"
            v-model="pointingOutKey"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Display Settings
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-slider
            label="Radius"
            hide-details
            thumb-label
            v-model="radius"
            :min="30"
            :max="250"
          />
          <v-slider
            label="Offset"
            hide-details
            thumb-label
            v-model="offset"
            :min="0"
            :max="360"
            class="align-center"
          >
            <template v-slot:append>
              <v-text-field
                v-model="offset"
                type="number"
                class="mt-0 pt-0"
                hide-details
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-slider>
          <v-slider
            label="Max value"
            hide-details
            thumb-label
            v-model="maxValue"
            :min="0"
            :max="800"
            class="align-center"
          >
            <template v-slot:append>
              <v-text-field
                v-model="maxValue"
                type="number"
                class="mt-0 pt-0"
                hide-details
                single-line
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-slider>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <div class="mb-3">
      <v-btn @click="controlButtonClicked">{{ controlButtonText }}</v-btn>
    </div>
    <div class="line-view">
      <canvas
        width="500px"
        height="500px"
        ref="canvas"
        class="line-view-canvas"
      />
    </div>
  </v-container>
</template>

<style scoped>
.line-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.line-view {
  height: 100%;
  width: 100%;
  flex: 1 0 0;
}
</style>

<script lang="ts">
import Vue from 'vue'
import _, { DebouncedFunc } from 'lodash'
import { PogCanvas } from '@/canvasUtil'

interface IVec {
  x: number
  y: number
}

export default Vue.extend({
  data() {
    return {
      canvas: null as PogCanvas | null,
      ctx: null as CanvasRenderingContext2D | null,
      sensorValues: [] as number[],
      triggered: [] as boolean[],
      pointingOut: false,
      koigVec: undefined as IVec | undefined,
      started: false,
      radius: 100,
      offset: 270,
      maxValue: 100,
      procValue: 'line',
      sensorValsKey: 'sensor_vals',
      triggeredValsKey: 'triggered',
      koigVecKey: 'koig_vec',
      pointingOutKey: 'pointing_out',
    }
  },
  methods: {
    controlButtonClicked() {
      if (this.started) {
        this.$accessor.reader?.removeAllListeners('data')
        this.started = false
      } else {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        const ctx = canvas.getContext('2d')
        if (ctx) this.canvas = new PogCanvas(ctx)
        this.ctx = ctx
        this.$accessor.reader?.on('data', this.onData)
        this.started = true
      }
    },
    onData(data: string) {
      try {
        const parsed = JSON.parse(data)
        if (parsed['proc'] === this.procValue) {
          this.sensorValues = parsed[this.sensorValsKey]
          this.triggered = parsed[this.triggeredValsKey]
          this.koigVec = parsed[this.koigVecKey]
          this.pointingOut = parsed[this.pointingOutKey]
          this.debouncedRedraw()
        }
      } catch (e) {
        console.error(e)
      }
    },
    applyOffsets() {
      if(this.ctx && this.canvas) {
        this.ctx.translate(this.canvas.centerX, this.canvas.centerY)
        this.ctx.rotate((this.offset * Math.PI) / 180)
        this.ctx.translate(-this.canvas.centerX, -this.canvas.centerY)
      }
    },
    redraw() {
      if (this.canvas && this.ctx) {
        this.ctx.resetTransform()
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
        this.canvas.text(64, 64, this.pointingOut ? 'Pointing Out' : 'Pointing In', {
          color: '#FFFFFF',
          size: '32px'
        })
        this.applyOffsets()

        this.canvas.circle(this.canvas.centerX, this.canvas.centerY, this.radius, {
          color: '#adadad',
          thickness: 4,
        })

        for (let i = 0; i < this.sensorValues.length; i++) {
          const angle =
            i * ((2 * Math.PI) / this.sensorValues.length) + Math.PI / 180.0
          const x = Math.cos(angle) * this.radius
          const y = Math.sin(angle) * this.radius
          this.canvas.circle(this.canvas.centerX + x, this.canvas.centerY + y, this.radius / 10, {
            color: `rgb(${255 * (this.sensorValues[i] / this.maxValue)}, ${
              this.triggered[i] ? 255 : 0
            }, 0)`,
            filled: true,
          })
          this.canvas.vector(this.koigVec?.x || 0, this.koigVec?.y || 0, {
            color: '#FFFFFF',
            thickness: 4,
          })
        }
      }
    },
  },
  computed: {
    controlButtonText(): string {
      return this.started ? 'Stop' : 'Start'
    },
    debouncedRedraw(): DebouncedFunc<() => void> {
      return _.debounce(this.redraw, 20, { maxWait: 0 })
    },
  },
})
</script>
