<template>
  <v-container class="terminal-container">
    <div class="header">
      <h1>Terminal</h1>
      <v-spacer />
      <v-btn icon @click="togglePaused">
        <v-icon>{{ controlIcon }}</v-icon>
      </v-btn>
      <v-btn icon @click="clear">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </div>
    <div class="terminal-view pa-3" ref="terminalView">
      <span class="text-content">{{ content }}</span>
    </div>
  </v-container>
</template>

<style scoped>
.terminal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.terminal-view {
  overflow: auto;
  flex: 1 0 0;
  background-color: black;
  width: 100%;
  min-height: 0;
  flex-direction: column-reverse;
}

.text-content {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  word-wrap: break-word;
  white-space: pre-line;
}

.header {
  display: flex;
  align-items: center;
}
</style>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      content: '',
      paused: false,
    }
  },
  mounted() {
    this.$accessor.reader?.on('data', (data: string) => {
      if (this.paused) return
      this.content += '\n' + data
      if (this.content.length > 2000) {
        this.content = this.content.substr(this.content.indexOf('\n') + 1)
      }
    })
  },
  computed: {
    controlIcon(): string {
      return this.paused ? 'mdi-play-circle' : 'mdi-pause-circle'
    },
  },
  methods: {
    togglePaused() {
      this.paused = !this.paused
    },
    clear() {
      this.content = ''
    },
  },
})
</script>
