<template>
  <fragment>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="onNavIconClick"></v-app-bar-nav-icon>
      <v-toolbar-title>Vega Debugger</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-on="on" v-bind="attrs" @click="onChangePortButtonClick">
            <v-icon>mdi-usb</v-icon>
          </v-btn>
        </template>
        Change port
      </v-tooltip>
    </v-app-bar>
    <nav-drawer />
    <v-main>
      <router-view />
    </v-main>
  </fragment>
</template>

<script lang="ts">
import Vue from 'vue'
import NavDrawer from '@/components/NavDrawer.vue'
import SerialPort from 'serialport'

export default Vue.extend({
  methods: {
    onChangePortButtonClick() {
      this.$accessor.port?.close(err => {
        if (err) {
          this.$accessor.showSnackbar(err?.name || '')
        }
      })
      this.$router.push('/')
    },
    onNavIconClick() {
      this.$accessor.setDrawer(true)
    },
    handleData(data: any) {
      console.log(data)
    },
  },
  components: {
    NavDrawer,
  },
  created() {
    if (!this.$route.params.port) {
      this.$accessor.showSnackbar(
        'OOPSIE WOOPSIE!! Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!',
      )
    }
    try {
      const port = new SerialPort(decodeURIComponent(this.$route.params.port), {
        baudRate: 19200,
      })
      const parser = new SerialPort.parsers.Readline({
        delimiter: '\r\n',
      })
      port.pipe(parser)

      this.$accessor.setPort(port)
      this.$accessor.setReader(parser)
    } catch (e) {
      this.$accessor.showSnackbar(`ERROR: ${e}`)
    }
  },
  watch: {
    $route() {
      this.$accessor.reader?.removeAllListeners('data')
    },
  },
})
</script>
