<template>
  <v-main>
    <v-container fluid fill-height>
      <v-row align="center" justify="center" class="mx-8">
        <v-col>
          <v-card class="pa-3" width="100%">
            <v-row no-gutters>
              <h3>Select a port</h3>
              <v-spacer />
              <v-btn icon @click="refresh">
                <v-icon>
                  mdi-refresh
                </v-icon>
              </v-btn>
            </v-row>
            <v-list>
              <v-list-item-group v-model="selected" mandatory>
                <v-list-item v-for="port in ports" :key="port">
                  <v-list-item-content>
                    <v-list-item-title>{{ port }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-row align="center" justify="center">
              <v-btn color="primary" @click="done">Done</v-btn>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import SerialPort from 'serialport'
import Vue from 'vue'
export default Vue.extend({
  name: 'Home',
  components: {},
  data() {
    return {
      selected: 0,
      ports: [] as string[],
    }
  },
  async mounted() {
    this.refresh()
  },
  methods: {
    async refresh() {
      try {
        const result = await SerialPort.list()
        this.ports = result.map(p => p.path)
      } catch (e) {
        this.$accessor.showSnackbar(e)
      }
    },
    done() {
      this.$router.push({
        name: 'main',
        params: {
          port: encodeURIComponent(this.ports[this.selected]),
        },
      })
    },
  },
})
</script>
