<template>
  <v-navigation-drawer :value="drawer" @input="onDrawerInput" app temporary>
    <v-list nav dense>
      <v-list-item-group v-model="selected">
        <v-list-item
          v-for="item in items"
          :key="item.path"
          :to="{ name: item.path }"
          exact
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ item.name }}</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      selected: undefined as string | undefined,
    }
  },
  computed: {
    drawer() {
      return this.$accessor.drawerOpen
    },
    items() {
      return this.$accessor.drawerItems
    },
  },
  methods: {
    onDrawerInput(data: boolean) {
      this.$accessor.setDrawer(data)
    },
  },
})
</script>
