<template>
  <v-snackbar :value="open">
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn color="primary" text v-bind="attrs" @click="closeSnackbar">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  computed: {
    message() {
      return this.$accessor.snackbarMessage
    },
    open() {
      return this.$accessor.snackbarOpen
    },
  },
  methods: {
    closeSnackbar() {
      this.$accessor.closeSnackbar()
    },
  },
})
</script>
