<template>
  <v-app>
    <router-view />
    <snackbar />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import SerialPort from 'serialport'
import Snackbar from '@/components/Snackbar.vue'

export default Vue.extend({
  name: 'App',
  components: {
    Snackbar,
  },
  methods: {
    async listPorts() {
      console.log(await SerialPort.list())
    },
  },
})
</script>
